<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.GraphEditor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BigRandom">
                <span class="oi oi-random" aria-hidden="true"></span> Big Random Graph
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SelectCallback">
                <span class="oi oi-flash" aria-hidden="true"></span> Select Callback
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FollowingGraph">
                <svg class="bi" viewBox="0 0 16 16">
                    <circle stroke="black" stroke-width="0" fill="#FFFFFF" cx="4" cy="12" r="4"></circle>
                    <circle stroke="black" stroke-width="0" fill="#FFFFFF" cx="13" cy="12" r="3"></circle>
                    <circle stroke="black" stroke-width="0" fill="#FFFFFF" cx="13" cy="3" r="2.236067977"></circle>
                    <circle stroke="black" stroke-width="0" fill="#FFFFFF" cx="4" cy="2" r="2"></circle>
                    <line stroke="#FFFFFF" stroke-width="1" x1="11" y1="5" x2="8" y2="8" stroke-linecap="round"></line>
                    <line stroke="#FFFFFF" stroke-width="1" x1="4" y1="5" x2="4" y2="7" stroke-linecap="round"></line>
                    <line stroke="#FFFFFF" stroke-width="1" x1="9" y1="12" x2="9" y2="12" stroke-linecap="round"></line>
                </svg> Following Graph
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LiveData">
                <span class="oi oi-reload" aria-hidden="true"></span> Live Data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
