@page "/LiveData"
@implements IDisposable
@using KristofferStrube.Blazor.GraphEditor

<PageTitle>Blazor.GraphEditor - Live Data</PageTitle>

<h1>Live Data</h1>

<p>On this page we can animate some of the details of the nodes in the graph while we run the force directed layout.</p>

<div style="display:flex;grid-gap:5px;">
    <button class="btn btn-success" @onclick="AddNode">Add Node</button>

    @if (pages.Count > 3)
    {
        <button class="btn btn-success" @onclick="RemoveNode">Remove Node</button>
    }
</div>

<div style="height:70vh;">
    <GraphEditor @ref=GraphEditor
                 TNode="Page"
                 TEdge="Transition"
                 NodeIdMapper="n => n.id"
                 NodeColorMapper=ColorMapper
                 NodeRepulsionMapper="_ => 4000"
                 EdgeFromMapper="e => e.from"
                 EdgeToMapper="e => e.to"
                 EdgeWidthMapper="e => e.weight*5"
                 EdgeSpringConstantMapper="e => e.weight"
                 EdgeSpringLengthMapper="e => e.length" />
</div>

@code {
    private List<Page> pages = new();
    private List<Transition> transitions = new();

    private GraphEditor.GraphEditor<Page, Transition> GraphEditor = default!;
    private bool running = true;

    private double edgeLengthSinAngle = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        while (!GraphEditor.IsReadyToLoad)
        {
            await Task.Delay(50);
        }

        pages = Enumerable.Range(0, 8).Select(i => new Page(i.ToString()) { BaseOffset = i * Math.PI * 2 / 8 }).ToList();
        transitions = Enumerable.Range(0, 8).Select(i => new Transition(pages[i % 8], pages[(i + 1) % 8], 1)).ToList();

        await GraphEditor.LoadGraph(pages, transitions);

        double prevUnixTimeSeconds = DateTimeOffset.Now.ToUnixTimeMilliseconds() / 1000.0;
        while (running)
        {
            double unixTimeSeconds = DateTimeOffset.Now.ToUnixTimeMilliseconds() / 1000.0;
            edgeLengthSinAngle = unixTimeSeconds % Math.PI * 2;
            pages.ForEach(p =>
            {
                p.Radians = p.BaseOffset + unixTimeSeconds % (Math.PI * 2);
            });
            await GraphEditor.ForceDirectedLayout();
            GraphEditor.SVGEditor.FitViewportToAllShapes(delta: Math.Min((unixTimeSeconds - prevUnixTimeSeconds) * 2, 1), 50);
            prevUnixTimeSeconds = unixTimeSeconds;
            StateHasChanged();
            await Task.Delay(1);
        }
    }

    string ColorMapper(Page page)
    {
        var red = $"{(int)(Math.Sin(page.Radians) * 100 + 150):X2}";
        var green = $"{(int)(Math.Sin(page.Radians + Math.PI * 2 / 3) * 100 + 150):X2}";
        var blue = $"{(int)(Math.Sin(page.Radians + Math.PI * 2 / 3 * 2) * 100 + 150):X2}";
        return $"#{red}{green}{blue}";
    }


    public async Task AddNode()
    {
        pages.Add(new Page(Guid.NewGuid().ToString()) { BaseOffset = DateTimeOffset.Now.ToUnixTimeMilliseconds() / 1000.0 });
        double chance = 1;
        for (int i = 0; i < 3; i++)
        {
            if (chance > 0.93)
            {
                var fromNode = pages[Random.Shared.Next(Math.Max(0, pages.Count - 2))];
                var toNode = pages[^1];
                if (fromNode != toNode)
                {
                    transitions.Add(new Transition(fromNode, toNode, 1, 200));
                }
            }
            chance = Random.Shared.NextDouble();
        }
        await GraphEditor.UpdateGraph(pages, transitions);
    }

    public async Task RemoveNode()
    {
        Page pageToRemove = pages[Random.Shared.Next(pages.Count - 1)];
        pages.Remove(pageToRemove);
        transitions = transitions.Where(t => t.from != pageToRemove && t.to != pageToRemove).ToList();
        await GraphEditor.UpdateGraph(pages, transitions);
    }

    double EdgeLengthMapper(Transition edge) => edge.length * (1.5 + Math.Sin(edgeLengthSinAngle) / 2);

    public record Page(string id)
    {
        public double BaseOffset { get; set; }
        public double Radians { get; set; }
    }
    public record Transition(Page from, Page to, float weight, float length = 100);

    public void Dispose()
    {
        running = false;
    }
}